executors:
  base-cimg-executor:
    docker:
      - image: cimg/base:2021.07


jobs:
  hello-job:
  executor: python-cimg-executor
  resource_class: xlarge
  steps:
    - checkout # check out the code in the project directory
    - run: echo "hello world" # run the `echo` command
    
  pre-commit:
    executor: python-cimg-executor
    resource_class: xlarge
    steps:
      - run:
          name: Install additional system dependencies for pre-commit
          command: |
            sudo apt-get update
            sudo apt-get install \
              libgtk-3-0 \
              libgbm1 \
              libasound2
      - run:
          name: Install pre-commit hooks
          command: |
            /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
            brew install pre-commit
            pre-commit install-hooks
      - run:
          name: Run pre-commit
          # It'd be faster to run it only on files changed between current branch and target PR branch
          # This can be done with: pre-commit run --from-ref <TARGET_BRANCH> --to-ref HEAD
          # Unfortunately, CircleCI doesn't expose target branch
          # Possible option is to use narrativescience/ghpr orb with get-pr-info, but this step can't be disabled
          # So then we'd only be able to run this job on PRs, and would require separate job for running on main
          # We use alternative approach, in which:
          # 1) If current branch is main - pre-commit checks all files
          # 2) Otherwise - we find common ancestor between current commit and main and run pre-commit with a base (from-ref) set to that ancestor
          command: |
            set -euo pipefail
            set -x
            if [ "$CIRCLE_BRANCH" = "main" ]; then
              pre-commit run --all-files
            else
              base_ref="$(git merge-base main $CIRCLE_SHA1)"
              pre-commit run --from-ref "${base_ref}" --to-ref "$CIRCLE_SHA1"
            fi



workflows:
  version: 2

  hello-world:
    jobs:
      - hello-job
  pre-commit:
    jobs:
      - pre-commit